@media screen and (max-width: 480px){
  /* Base rules*/
  body{
    margin: 0;
    text-align: center;
  }
  /*Layout rules*/
  .l-header{
    display:flex;
  }
  .l-navigation{
    position: fixed;
    top:0;
    opacity: 0.5;
    background-color: #fff;
    z-index: 9999;
  }

  #aboutMe{
    display: none;
  }
  #blogTitle{
    display: flex;
    color: #7f726d;
    width:100%;
    align-items:center;
    justify-content:center;
  }
  #list-navigation{
    opacity: 0.95;
  }
  #articles img{
    width: 100%;
  }
  /*Theme rules*/
  .l-header{
    background-image: url('../img/flowerBackground.jpg');
    background-size: 100% 100%;
    top:0;
  }
  #list-navigation, .l-navigation {
    list-style-type: none;
    width: 100%;
    padding: 0;
    font-size: 1em;
    line-height: 2.5em;
    margin: 0;
  }

  #menuIcon{
    padding-top: 0.75em;
    height:1.5em;
  }
  .l-articles{

  }

/*Module rules*/
.article-header{
  background-color: #f6c8c1;
}
}
