@media screen and (max-width: 480px){
  /* Base rules*/
  body{
    margin: 0;
    text-align: center;
  }
  /*Layout rules*/
  .l-header{
    display:flex;
  }
  .l-navigation{
    position: fixed;
    top:0;
    opacity: 0.5;
    background-color: #fff;
  }
  /*Module rules*/
  #list-navigation, .l-navigation {
    list-style-type: none;
    width: 100%;
    padding: 0;
    font-size: 1em;
    line-height: 2.5em;
    margin: 0;
  }
  #menuIcon{
    padding-top: 0.75em;
    height:1.5em;
  }
  #aboutMe{
    display: none;
  }
  #blogTitle{
    display: flex;
    color: #7f726d;
    width:100%;
    align-items:center;
    justify-content:center;
  }
  #articles img{
    width: 100%;
  }
  /*Theme rules*/
  .l-header{
    background-image: url('../img/flowerBackground.jpg');
    background-size: 100% 100%;
    top:0;
  }
  #list-navigation{
    opacity: 0.95;
  }
  .form{
    display: flex;
    background-color: #f6c8c1;
  }
  .form form{
    width: 100%;
  }
  .l-articles{
    display: flex;
    background-color: #fbe0d3;
  }
  .article-body{
    text-align: left;
    padding-left: 10px;
  }
  .readOn{
    opacity: 0.5;
  }
  .article{
    border-bottom: solid 2px #f6c8c1;
  }
}
@media screen and (min-width: 481px){
  /*Base rules*/
  body{
    margin: 0;
    text-align: center;
  }
  /*Layout rules*/
  .l-header{
    display: flex;
    background-image: url();
  }
  #blogTitle{
    width: 100%;
    text-align: center;
  }
  /*Theme rules */
  #list-navigation{

    width: 100%;
    padding: 0;
    list-style-type: none;
  }
  #list-navigation li{
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
  }
  #menuIcon{
    display: none;
  }
}
