/********************
****Day 1 Styling****
********************/
body{
  margin: 0;
}
.header{
  text-align: center;
}
nav{
  background-color: #99c4c1;
  padding: 5px;
  text-align: center;
}
nav > ul{
  list-style-type: none;
}
nav li {
  display: inline-block;
  padding: 0 50px;
  font-size: 1.25em;
}
nav a {
  text-decoration: none;
  color: inherit;
}
.article h1{
  background-color: #99c4c1;
  padding: 10px;
}
.author, .URL{
  display: inline;
}
.arTemplate{
  display: none;
}
article{
  /*border-bottom: solid 1px silver;*/
  padding-bottom: 10px;
}
article::after{
  content: "";
  display:table;
  clear: both;
}
img{
  max-width:300px;
  max-height:200px;
}
img.pull-left{
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  clear:left;
}
img.pull-right{
  float: right;
  padding-top: 10px;
  padding-left: 10px;
  clear: right;
}
/********************
****Day 2 Styling****
********************/
#aboutMe{
  display: none;
}
.readOn{
  font-size: 1em;
  opacity: 0.5;
}
.less{
  font-size: 1em;
  opacity: 0.5;
}
.hidden{
  display:none;
}
#aboutMe h2{
  background-color: #99c4c1;
  padding: 10px;
}

@media screen and (max-width: 480px){
  .header{
    background-image: url("../img/fish-scales.jpeg");
  }
  .header:after{
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  #title{
    float:left;
  }
  #title h2{
    display: none;
  }
  nav{
    font-size: 1em;
    background-color: #99c4c1;
    float: right;
  }
  nav>ul{
    padding: 0;
  }
  nav li {
    display: block;
    padding: 5px;
  }
  .article h1{
    background-color: #99c4c1;
    text-align: center;
  }
  img, img.pull-left, img.pull-right{
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
    padding: 10px;
  }
}
