/*Base rules*/
body{
  margin: 0;
  text-align: center;
}
.flexbox{
  display: flex;
}
.box{
  border: solid 1px;
  margin: 10px;
  overflow: scroll;
}
.halfOpac{
  opacity: 0.5;
}
table{
  width: 40%;
  padding: 1em;
  margin: 3em auto;
  text-align: center;
}
table th{
  background-color: #656565;
}
.items{
  background-color: #ebfafa;
}
